<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promo Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        color: #ccc;
        background-color: #111;
      }
      button {
        padding: 20px 40px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: beige;
      }
      h2 {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <p></p>
    <h1>There are no promo codes available for this game.</h1>
    <h2><%= appId %></h2>
    <br />
  </body>
</html>
