<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promo Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        color: #ccc;
        background-color: #111;
      }
      button {
        padding: 20px 40px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: beige;
      }
      h2 {
        color: #fff;
      }
      .spinner {
        width: 24px;
        height: 24px;
        border: 4px solid #ccc;
        border-top: 4px solid #333;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .center {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <p></p>
    <div style="background-color: #333; padding: 20px; margin-bottom: 20px">
      <img
        style="max-height: 200px"
        src="{{ promoInfo.Icon }}"
        alt="{{ promoInfo.Name }}"
      />
      <h2>{{ promoInfo.Name }} Promo Code</h2>
    </div>
    <h1>Click the link below to unlock your promo code:</h1>
    <br />
    <form
      action="{{ redeemLink }}"
      method="POST"
      onsubmit="
        document.querySelector('#submit').classList.add('hidden');
        document.querySelector('#wait').classList.remove('hidden')">
      <script>
        window.addEventListener("pageshow", (event) => {
          if (event.persisted) {
            document.querySelector("#submit").classList.remove("hidden");
            document.querySelector("#wait").classList.add("hidden");
          }
        });
        document.addEventListener("visibilitychange", () => {
          if (document.visibilityState === "visible") {
            if (performance.now() > 300 * 1000) { // 300 seconds
              location.reload();
            }
          }
        });
      </script>
      <input id="src" type="hidden" name="src" value="" />
      <script>
        const params = new URLSearchParams(location.search);
        document.querySelector("#src").value = params.get("src") || "none";
      </script>
      <button id="submit" type="submit">Get Promo Code</button>
      <div class="center">
        <div id="wait" class="spinner hidden"></div>
      </div>
    </form>
  </body>
</html>
