<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>Redeem Promo Code</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        color: #ccc;
        background-color: #111;
      }
      .code {
        font-size: 18pt;
        padding: 10pt 20pt;
        border: 2px solid white;
        margin: 10px;
        font-family: "Source Code Pro", monospace;
        display: flex;
        flex-direction: row;
        cursor: pointer;
      }
      .code:hover {
        background-color: #333;
      }
      .store-button {
        width: 360px;
        background-color: #111;
      }
      .copy-icon {
        width: 30px;
        height: 30px;
      }
      .copy-indicator {
        position: absolute;
        margin-top: -12px;
        display: none;
      }
      .instruct {
        width: 500px;
        text-align: center;
      }
      .center {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .expiration {
        font-style: italic;
      }
      a:visited {
        color: pink;
      }
    </style>
  </head>
  <body>
    <p></p>
    <div style="background-color: #333; padding: 20px; margin-bottom: 20px">
      <img
        style="max-height: 200px"
        src="{{ promoInfo.Icon }}"
        alt="{{ promoInfo.Name }}"
      />
      <h1>{{ promoInfo.Name }} Promo Code</h1>

      <div class="center">
        <div class="instruct">{{{ instructions }}}</div>
      </div>
    </div>
    <div class="center">
      <div class="copy-indicator">✔️ Copied to clipboard</div>
      <div
        class="code"
        onClick="navigator.clipboard.writeText(this.textContent).then(() => document.querySelector('.copy-indicator').style.display = 'block')"
      >
        {{ promoInfo.Code }}
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Bw_copy_icon_320x320.svg"
          class="copy-icon"
        />
      </div>
    </div>
    <div class="expiration">Expire: {{ promoInfo.Expiration }}</div>

    <br />
    Click below to apply the promo code and download the game:
    <br />
    <br />
    <a target="_blank" href="{{ promoInfo.storeLink }}">
      <img src="{{ promoInfo.ButtonImage }}" class="store-button" />
    </a>
  </body>
</html>
